.home-div {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .home-div h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .login-header, .signup-header {
    margin-bottom: 20px;
    color: #444;
  }
  
  .login-form, .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-input, .signup-input {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button, .switch-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  .submit-button:hover, .switch-button:hover {
    background-color: #45a049;
  }
  