/* Base setup */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #ffffff;
}

/* Main container */
.user-page {
  background: #1f1f1f;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.user-page div {
  margin-bottom: 20px;
}

/* Headings and time-date details */
.welcome {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ecf0f1;
}

.time-date-div p {
  font-size: 1.5em;
  margin-bottom: 5px;
}

/* Address details */
.address-div {
  background: #2d2d2d;
  padding: 10px;
  border-radius: 5px;
}

/* Buttons */
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.clock-in-btn {
  border-color: #27ae60;
  color: #27ae60;
}

.clock-out-btn {
  border-color: #e67e22;
  color: #e67e22;
}

.logout-btn {
  border-color: #e74c3c;
  color: #e74c3c;
}

button:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Clock-in time */
.clock-time-div p {
  font-size: 1.2em;
  background: #3c3c3c;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .user-page {
    padding: 20px;
  }
  
  .welcome {
    font-size: 2em;
  }

  .time-date-div p {
    font-size: 1.2em;
  }

  .clock-time-div p {
    font-size: 1em;
  }
}
